<div class="container font-fix">
    <h1 class="text-center text-black">Login</h1>
    <%= form_for(:sessions, url: sessions_path) do |f| %>
        <%= f.label :email %>
        <%= f.text_field :email, class: "form-control" %>

        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control" %>

        <%= f.submit "Login", class: "btn btn-block btn-primary mt-4" %>
    <% end %>
    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
</div>
