<div class= "form">
    <%= form_for @user do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>

        <%= f.label :email %>
        <%= f.text_field :email, class: "form-control"%>

        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control"%>

        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: "form-control"%>
        
        <%= f.label :avatar %>
        <%= f.file_field :avatar %>

        <%= f.submit "Save changes", class: "btn btn-block btn-primary mt-4 btnwidth" %>
    <% end %>
</div>