<div class="container mt-5">
    <div class="row">
        <aside class="col-4 text-center">
            <div class="card mt-5" style="width: 18rem;">
                <% if current_user.avatar.url %>
                    <%= image_tag current_user.avatar.url, size: 52, class: "card-img" %>
                <% else %>
                    <i class="fa fa-user bigicon"></i>
                <% end %>
                <div class="card-body p-3">
                    <h3 class="card-title"><%= current_user.name %></h3>
                    <p class="card-text"><%= current_user.following.count %> following　<%= current_user.followers.count %> followers
                </div>
                <div class="card-body p-3">
                    <%= button_to "View my profile", current_user, class: "text-center btn btn-flat-simple-dash" %>
                    <%= button_to "Edit profile", edit_user_path(current_user), class:"btn btn-flat-simple-dash mr-1" %>
                </div>
            </div>
        </aside>        
        <div class="col-8 mt-5">   
            <h2>activity Feed</h2>
        </div>
    </div>
</div>

