<div class="container">
    <h1 class="text-center answerpage"><%= @lesson.category.title%></h1>
    <div class="answerpageback text-center">
        <h1 class="text-center"><%= @lesson.next_word.content %></h1>

        <% @lesson.next_word.choices.each do |choice| %>
            <%= form_for ([@lesson, @answer]) do |f| %>
                <%= f.hidden_field :word_id, value: choice.word_id %>
                <%= f.hidden_field :choice_id, value: choice.id %>
                <div class="text-center mt-3">
                    <%= f.submit choice.content, class:"btn btn-flat-simple-answer" %>
                </div>
            <% end %>
        <% end %>
    </div>
</div>