<nav class="navbar navbar-expand-lg fixed-top navbar-light">
    <a class="navbar-brand text-secondary" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link text-secondary" href="#">Home <span class="sr-only">(current)</span></a>
            </li>

            <% if logged_in? %>
               <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle text-secondary" data-toggle="dropdown">
                    <%= "Setting" %> <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><%= link_to "profile", current_user, class: "dropdown-item" %></li>
                        <li><%= link_to "settings", edit_user_path(current_user), class: "dropdown-item" %></li>
                        <li class="divider"></li>
                        <li>
                            <%= link_to "Sign out", logout_path, method: :delete, class: "dropdown-item" %>
                        </li>
                        <li>
                            <%= link_to "Manage Categories", admin_categories_path, class: "dropdown-item" %>
                        </li>
                    </ul>
                </li>
            <% else %>  
            <li class="nav-item">
                <%= link_to "Signup", signup_path, class: "nav-link text-secondary" %>    
            </li>
            <li class="nav-item">
                <%= link_to "Login", login_path, class: "nav-link text-secondary" %>
            </li>
            <% end %>
        </ul>
    </div>
</nav>
